*.pyc
Data/*
Output/*
ttp.egg-info/*
dist/*
build/*
private/*
how to upload to pypi.txt
docs/build/*
docs/make.bat
docs/Makefile
.pytest_cache/v/cache/nodeids
test/pytest/Output/*
test/pytest/nornir.log
ttp/ttp_dict_cache.pickle