*.pyc
*.log
Data/*
Output/*
ttp.egg-info/*
dist/*
build/*
private/*
how to upload to pypi.txt
docs/build/*
docs/make.bat
docs/Makefile
test/pytest/Output/excel_out_test_excel_formatter.xlsx
.pytest_cache/v/cache/nodeids
ttp/ttp_dict_cache.pickle