readthedocs-sphinx-search==0.1.1
Sphinx==4.3.0
sphinx_rtd_theme==1.0.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-spelling==7.2.1
