name: TTP Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  linters:
    name: linters
    strategy:
      matrix:
        python-version: [ '3.10' ]
        platform: [windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install Dependencies
        run: |
          python -m pip install poetry
          python -m poetry install
      - name: Run pre-commit
        run: python -m poetry run pre-commit run --all-files

  run_tests:
    name: Testing on Python ${{ matrix.python-version }} (${{ matrix.platform}})
    defaults:
      run:
        # that is to run pytest from within tests directory
        working-directory: test/pytest
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14']
        # platform: [ubuntu-latest, macOS-10.15, windows-latest]
        platform: [windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install poetry
          python -m poetry install -E full
      - name: Run pytest
        run: python -m poetry run pytest -vv
